// @import "neat/neat-helpers";

// Change the grid settings
$column: em(50);
$gutter: em(30);
$grid-columns: 12;
$max-width: em(960);

/**************************
  Screen sizes
***************************/
$small: new-breakpoint(max-width 420px 2);
$medium: new-breakpoint(min-width 421px max-width 767px 4);
$large: new-breakpoint(min-width 768px max-width 1024px 12);
$xlarge: new-breakpoint(min-width 1025px 12);


// retina
$retina: new-breakpoint(min-resolution 326dpi);

/**************************
  Handheld Devices
***************************/
$mobile: new-breakpoint(max-device-width 420px 1);
$mobile-retina: new-breakpoint(max-device-width 420px min-resolution 326dpi 1);
$mobile-landscape: new-breakpoint(max-device-width 960px orientation landscape 1);

/**************************
  Tablets
***************************/
$tablet: new-breakpoint(min-device-width 768px max-device-width 1024px 4);
$tablet-retina: new-breakpoint(max-device-width 1024px min-resolution 264dpi 4);
$tablet-landscape: new-breakpoint(max-device-width 1024px orientation landscape 4);